<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-require="bootstrap@*" data-semver="4.0.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script data-require="jquery@*" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script data-require="bootstrap@*" data-semver="4.0.5" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script data-require="angular.js@4.0.0" data-semver="4.0.0" src="https://code.angularjs.org/latest/angular.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="services/players.js"></script>
    <script src="script.js"></script>
  </head>
  <body ng-app="swissChess">
    <div ng-controller="mainCtrl"  class="container">
      <sc-menu></sc-menu>
      <sc-setup ng-if="!initialised" setup="getStarted(players,rounds,title)"></sc-setup>
      <div ng-if="initialised">
        <h1>{{title}}</h1>
        <h1><small>{{numPlayers}} Players : {{numRounds}} Rounds</small></h1>

        <ul class="nav nav-tabs">
          <li role="presentation" ng-class="activeTab=='players' ? 'active':''"><a href="#" ng-click="showTab('players')">Players</a></li>
          <li role="presentation"  ng-repeat="round in rounds" ng-class="activeTab==round.roundNumber ? 'active':''"><a href="#" ng-click="showTab(round.roundNumber)">Round {{round.roundNumber}}</a></li>
          <li role="presentation" ng-if="completed" ng-class="activeTab=='results' ? 'active':''"><a href="#" ng-click="showTab('results')">Results</a></li>
        </ul>

        <sc-player-details ng-if="activeTab=='players'" players="getAllPlayers()" setup-first-round="setupFirstRound(players)" is-started="{{playerOrder.length != 0}}"></sc-player-details>
        <sc-round ng-if="activeTab!='players' && activeTab!='results' " players="getAllPlayers()" round="rounds[activeTab]" complete-round="completeRound()" is-current-round="{{activeTab == currentRoundNumber}}"></sc-round>
        <sc-results ng-if="activeTab=='results'" players="getAllPlayers()" final-order="finalOrder"></sc-results>
      </div>
    </div>
  </body>

</html>
