<div>
  <form name="playerDetails">
    <div ng-repeat="player in players" class="row">
      <div  class="col-xs-1">
        {{player.id}}
      </div>
      <div  class="col-xs-5">
        <div class="form-group" ng-class="playerDetails['playerName'+player.id].$touched && playerDetails['playerName'+player.id].$invalid ? 'has-error' : ''">
          <label for="playerName{{player.id}}">Player name</label>
          <input class="form-control" ng-model="player.name" name="playerName{{player.id}}" id="playerName{{player.id}}" required  ng-pattern="/[a-zA-Z0-9]{3,}/" />
          <span class="help-block" ng-show="playerDetails['playerName'+player.id].$touched && playerDetails['playerName'+player.id].$invalid">please enter a name</span>
        </div>
      </div>
      
      <div  class="col-xs-5">
        <div class="form-group">
          <label for="playerArmy{{player.id}}">army</label>
          <input class="form-control" ng-model="player.army" name="playerArmy{{player.id}}" id="playerArmy{{player.id}}" required />
          <span class="help-block" ng-show="playerDetails['playerArmy'+player.id].$touched && playerDetails['playerArmy'+player.id].$invalid">please enter a army</span>
        </div>
      </div>
      <div  class="col-xs-1">
        <p>
        Score: {{player.score}}
        <span ng-if="player.countBack">Countback: </span>{{player.countBack}}
        </p>
      </div>
    </div>
    <button ng-click="setupFirstRound()" class="btn" ng-class="playerDetails.$invalid ? 'btn-disabled' : 'btn-success'"
    ng-disabled="playerDetails.$invalid" ng-if="isStarted=='false'">Create First Round</button>
  </form>

</div>