<form name="setupForm">
    <div class="form-group"  ng-class="setupForm.title.$touched && setupForm.title.$invalid ? 'has-error' : ''">
      <label for="title">Title:</label>
      <input class="form-control" ng-model="title" id="title" name="title" type="text"  required />
      <span class="help-block" ng-show="setupForm.title.$touched && setupForm.title.$invalid">Please enter a title</span>
    </div>
    <div class="form-group"  ng-class="setupForm.numPlayers.$touched && setupForm.numPlayers.$invalid ? 'has-error' : ''">
      <label for="numPlayers">Number of players:</label>
      <input class="form-control" ng-model="numPlayers" id="numPlayers" name="numPlayers" type="number" min="1" max="999" required />
      <span class="help-block" ng-show="setupForm.numPlayers.$touched && setupForm.numPlayers.$invalid">Please enter a number between 1 and 999</span>
    </div>
    <div class="form-group"  ng-class="setupForm.numRounds.$touched && setupForm.numRounds.$invalid ? 'has-error' : ''">
      <label for="numRounds">Number of rounds:</label>
      <input class="form-control" ng-model="numRounds" id="numRounds" name="numRounds" type="number" min="1" max="999" required />
      <span class="help-block" ng-show="setupForm.numRounds.$touched && setupForm.numRounds.$invalid">Please enter a number between 1 and 999</span>
    </div>
    
    <div>
        <button ng-click="runSetup({players: numPlayers, rounds:numRounds, title:title})"
        ng-disabled="setupForm.$invalid" class="btn" ng-class="setupForm.$invalid ? 'btn-disabled' : 'btn-success'">Get Started</button>
    </div>
</form>
