<h2>About Comp Runner</h2>
<p>Comp Runner is a simple app, designed to run on any modern browser, to help tournament organisers to keep track of scoring.</p>
<p>You can choose either a simple round robin algorithm.</p>
<p>Scoring is handled automatically, with 3 points for a win and 1 point for a draw. Countback is handled at the end of a comp by summing the scores of a person's beaten opponents.</p>
<p>You can save a tournament locally to open again later.</p>

<p>Feedback is welcome.</p>
<button ng-click="toggleAbout()" class="btn btn-primary btn-block ">Close</button>