<ul class="nav nav-tabs">
  <li role="presentation" ng-class="comp.activeTab=='players' ? 'active':''"><a href="#" ng-click="showTab('players')">Players</a></li>
  <li role="presentation" ng-repeat="round in comp.rounds" ng-class="comp.activeTab==round.roundNumber ? 'active':''"><a href="#" ng-click="showTab(round.roundNumber)">Round {{round.roundNumber}}</a></li>
  <li role="presentation" ng-if="comp.finalOrder.length > 0" ng-class="comp.activeTab=='results' ? 'active':''"><a href="#" ng-click="showTab('results')">Results</a></li>
</ul>